<div>
    <div class="btn-edit" style="float:right;">
        <button id="calenderEdit" type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
            <span  id="symbol" class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
    <div class="calenderheader">
        <i class="fa fa-caret-left fa-lg" ng-click="previous()"></i>
        <span class="dateShow">{{month.format("MMMM, YYYY")}}</span>
        <i class="fa fa-caret-right fa-lg" ng-click="next()"></i>
    </div>
    <div id="popupContainer">
        <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
            <table id="attendence">
                <tbody>
                <tr class="week" ng-repeat="week in weeks">
                    <td class="day" e-form="tableform" ng-repeat="day in week.days">
                        <span class="dayNum" ng-class="checkAttend(day)">{{day.number}}</span>
                        <div class="status">
                                <span>
                                    <label ng-show="day.number!==undefined" ng-class="markedStatus[day.number]" ng-click="!day.enable||showAlert($event,day)"></label>
                                    <label ng-if="day.enable" ng-show="tableform.$visible">
                                    <dropdown selected-day="{{day}}"></dropdown></label>
                                </span>


                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="btn-form" ng-show="tableform.$visible">
                <button type="button" id="calenderCancel" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn">Cancel</button>
                <button type="submit" id="calenderSave" ng-disabled="tableform.$waiting" class="btn">Save</button>
            </div>
        </form>
    </div>
</div>