<span class="dropdown">
    <i class="fa fa-caret-down dropdown-toggle" aria-hidden="true" data-toggle="dropdown"></i>
    <ul class="dropdown-menu">
      <li ng-click="doAttendance(selectedDay,'Present')" ><img src="images/ion-checkmark-round.png" alt=""></li>
      <li ng-click="doAttendance(selectedDay,'CompLeave')"><img src="images/C.png" alt=""></li>
      <li ng-click="doAttendance(selectedDay,'Leave')"><img src="images/L.png" alt=""></li>
      <li ng-click="doAttendance(selectedDay,'unmark')"><img src="images/ion-alert.png" alt=""></li>
    </ul>
</span>
