<div ng-init = fallout()>
    <div class="row dateline">
        <span class="glyphicon glyphicon-menu-left pull-left symbol1" style="color:rgba(59, 83, 114, 1);position: absolute" ng-click="previous()"></span>
        <span class="dateFallout"
              style="color:rgba(59, 83, 114, 1);position: absolute;left:45%"><h3>{{date}}</h3></span>
        <span class="symbol2" style="color:rgba(59, 83, 114, 1);position: absolute;right:0;font-size: 20px;">
            <email-alert type="sendEmailToFalloutEmployee"></email-alert>
        </span>
    </div>
    <div class="row countline">
        <span class="unmarkCount">
            <span class="redCount">{{falloutNumber}}/{{totalEmployee}}</span>&nbsp;&nbsp;&nbsp;Fallout
        </span>
    </div>
    <div class="row cardEmp">
        <div ng-repeat="info in falloutData" id="card-col">
            <card-info data="info"></card-info>
        </div>
    </div>
</div>
